/* dynamic list of category name */
#categories-ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#categories-ul li {
  padding: 5px;
}
#categories-ul li:hover {
  background-color: #15803d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

/* active */
.active-category {
  background-color: #15803d;
  color: white;
  border-radius: 5px;
}
.category-link {
  display: block;      /* makes the whole area clickable */
  padding: 5px 10px;   /* some spacing */
  border-radius: 5px;
  transition: background 0.3s;
}
.category-link.active-category {
  background-color: #15803d;
  color: white;
}


